@model List<string>
@{
    ViewBag.Title = "Мои роли";
}

<h2>Мои роли</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item</td>
        </tr>
    }
</table>

