
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<form method="post">
    <h3>Вы уверены, что хотите удалить аккаунт?</h3>
    <button type="submit" class="btn btn-primary">Да</button>
</form>
<br />
<p><a href="/Home/GetUsers">Вернуться</a></p>
